html {
    --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
    --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
    --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
    --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
    --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
    --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
    --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
    --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
    --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
    --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
    --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
    --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
    --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
    --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
    --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
    --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
    --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
    --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
    --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
    --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
    --lumo-primary-text-color: rgb(216, 171, 65);
    --lumo-primary-color-50pct: rgba(216, 171, 65, 0.5);
    --lumo-primary-color-10pct: rgba(216, 171, 65, 0.1);
    --lumo-error-text-color: rgb(239, 52, 52);
    --lumo-error-color-50pct: rgba(239, 52, 52, 0.5);
    --lumo-error-color-10pct: rgba(239, 52, 52, 0.1);
    --lumo-success-text-color: rgb(50, 195, 77);
    --lumo-success-color-50pct: rgba(50, 195, 77, 0.5);
    --lumo-success-color-10pct: rgba(50, 195, 77, 0.1);
    --lumo-tint: #f4eee1;
    --lumo-shade: hsl(42, 33%, 13%);
    --lumo-primary-color: #d8ab41;
    --lumo-error-color: #ef3434ff;
    --lumo-success-color: #32c34d;
    --lumo-header-text-color: #b7830b;
}

[theme~="dark"] {
    --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
    --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
    --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
    --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
    --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
    --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
    --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
    --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
    --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
    --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
    --lumo-primary-text-color: rgb(230, 190, 95);
    --lumo-primary-color-50pct: rgba(230, 190, 95, 0.5);
    --lumo-primary-color-10pct: rgba(230, 190, 95, 0.1);
    --lumo-error-text-color: rgb(239, 52, 52);
    --lumo-error-color-50pct: rgba(239, 52, 52, 0.5);
    --lumo-error-color-10pct: rgba(239, 52, 52, 0.1);
    --lumo-success-text-color: rgb(50, 195, 77);
    --lumo-success-color-50pct: rgba(50, 195, 77, 0.5);
    --lumo-success-color-10pct: rgba(50, 195, 77, 0.1);
    --lumo-shade: hsl(42, 33%, 13%);
    --lumo-primary-color: #E6BE5F;
    --lumo-error-color: #ef3434ff;
    --lumo-success-color: #32c34d;
    --lumo-success-contrast-color: #2D2C29;
    --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
    --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
    --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
    --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
    --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
    --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
    --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
    --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
    --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
    --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
    --lumo-base-color: #2D2C29;
    --lumo-tint: #f4eee1;
    --lumo-header-text-color: #E6BE5F;
    --lumo-primary-contrast-color: #2D2C29;
    --lumo-error-contrast-color: #ffffff;
}

vaadin-button,
vaadin-menu-bar-button,
vaadin-menu-bar-item,
vaadin-drawer-toggle,
vaadin-tab,
.clickable {
    cursor: pointer !important;
}

.address-bar {
    width: 100%;
    max-width: 550px;
    background-color: var(--lumo-contrast-5pct);
    padding: 4px 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-text-color);
    border: 1px solid var(--lumo-contrast-10pct);
}

.address-bar > * {
    text-wrap: nowrap;
}

/* CUSTOM NOTIFICATIONS */
vaadin-notification-card {
    min-width: 25vw;
    max-width: 25vw;
    margin-bottom: 25px !important;
    margin-right: 25px !important;
}

/* Mobile override for notifications */
@media (max-width: 600px) {
    vaadin-notification-card {
        min-width: 100vw !important;
        max-width: 100vw !important;
        margin: 0 !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
    }
}